/* add white space to figures*/
figure {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* class to resize our images by default*/
img.scalable_image {
    max-width:100%;
    height:auto;
    width:auto;
}

/* class to resize our images by default*/
img.inline_image {
    max-height:20px;
    height:auto;
    width:auto;
}

/* lines in tables*/
table {
    border-collapse: collapse;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* border after header if present*/
thead {
    border-bottom: 1px solid #ccc;
}

/* border in the table header*/
td {
    padding-bottom: 1.0em;
}

/*make our tables fancy*/
tr.odd {
    background-color: #f2f2f2;
}
tr.even:hover {
    background-color: #ddd;
}
tr.odd:hover {
    background-color: #ddd;
}

/* color and style of the captions for tables*/
.table_caption {
    font-weight:bold;
    color:black;
}