
/* change the default color and test color when text is highlighted*/
::-moz-selection { /* Code for Firefox */
    color: white;
    background: #C8102E;
}

::selection {
    color: white;
    background: #C8102E;
}


/* header bar images */
img.header-image  {
    height: 25px;
}

/* buffer to make some of the ehaders more readable
h4 {
   padding-top: 20px; 
}
*/