/*text overflow*/
.sidebar-overflow {
    overflow-x: auto;
    /* transform:rotateX(180deg);
    -ms-transform:rotateX(180deg);
    -webkit-transform:rotateX(180deg); */
}

/* .sidebar-overflow-content{
    transform:rotateX(-180deg);
    -ms-transform:rotateX(-180deg);
    -webkit-transform:rotateX(-180deg);
} */


.fixed {
    position: fixed;
}
/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
    max-width: 270px;
}

/*dropdown menu for chapter selection with limited size and scrollbar*/
ul.dropdown-menu {
    max-height:200px;
    overflow-y:auto;
}

@media (max-width: 1200px) and (min-width: 992px) {
    /* all links */
    .bs-docs-sidebar .nav>li>a {
        color: #999;
        border-left: 2px solid transparent;
        padding: 4px 20px;
        font-size: 13px;
        font-weight: 400;
        max-width: 225px;
    }
}


@media (max-width: 991px) and (min-width: 768px) {
    /* all links */
    .bs-docs-sidebar .nav>li>a {
        color: #999;
        border-left: 2px solid transparent;
        padding: 4px 20px;
        font-size: 13px;
        font-weight: 400;
        max-width: 185px;
    }
}

@media (max-width: 767px) {
    /* all links */
    .bs-docs-sidebar .nav>li>a {
        display: none;
        color: #999;
        border-left: 2px solid transparent;
        padding: 4px 20px;
        font-size: 13px;
        font-weight: 400;
        max-width: 185px;
    }
}

/*
@media (max-width: 800px) {
    display: none;
}*/


/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}
/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    color: #C8102E;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #C8102E;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}
/* hide inactive nested list when commented out*/
.bs-docs-sidebar .nav ul.nav {
    display: none;
}

/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;
}



/* tooltips class in IDL*/
/* .side_tt{
    display: inline;
    position: relative;
    overflow: visible;
} */

/* makes the arrow for the tooltip*/
/* .side_tt:hover:after{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    top: 100%;    
    content: "";
    left: 50%;
    position: absolute;
    z-index:98;
} */

/* makes the content for the tooltip */
/* .side_tt:hover:before{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    top: 100%;
    color: #fff; */
    /* the side_tt class elements also need a side_tt attribute with the tooltip*/
    /* content: attr(side_tt);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index:97; */
    /*word wrap*/
    /* white-space:pre-line; */
    /* width:auto;
} */
